$white: #fff;
$black: #000;
$blue-primary: #0DB8FF;
$orange-accent: #CC491F;
$purple-med: #455399;
$blue-med: #293159;
$blue-dark: #0d1321;
$warm-grey: #d8dbe2;
$cool-grey: #393d3f;
$text: #555;
$text-light: #eee;
